html,
body,
.grid-container {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}


/* .grid-container {
    display: grid;
    grid-template-columns: 2.2fr 0.8fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.7fr 0.3fr;
    grid-template-areas: "Header Header" "Text People" "Feed People" "Feed People" "Feed People" "Feed People" "Footer Footer";
} */

.grid-container {
    display: grid;
    grid-template-columns: 2.2fr 0.8fr;
    grid-auto-rows: min-content;
    grid-template-rows: auto auto auto 0.3fr;
    /*gap: 0.5em 0px;*/
    grid-template-areas: "Header Profil" "Text People" "Feed People" "Footer Footer";
}

.Header {
    grid-area: Header;
    text-align: center;
}

.Profil {
    grid-area: Profil;
    text-align: center;
    display: flex;
    align-self: end;
    flex-direction: column;
}

.People {
    grid-area: People;
    border-top: 1px solid#c4c4c4;
    border-left: 1px solid#c4c4c4;
    display: inline;
    text-align: center;
}

.Text {
    grid-area: Text;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    ;
}

.Footer {
    grid-area: Footer;
    text-align: right;
    font-size: 1em;
    height: fit-content;
}

.Feed {
    grid-area: Feed;
}

.grid-container *:after {
    position: absolute;
    top: 0;
    left: 0;
}

input[type=text],
select,
textarea {
    width: 100%;
    height: 100%;
    padding: 4em;
    border: 0.063em solid white;
    border-radius: 1em;
    box-sizing: border-box;
    margin-top: 0.25em;
    margin-bottom: 0.625em;
    resize: none;
    overflow: hidden;
    text-align: center;
    background-color: #c4c4c4;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

:focus {
    outline: none;
}

input[type=button] {
    background-color: #2ec3ef;
    color: white;
    padding: 0.75em 5em;
    border: 0.063em solid #ccc;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
}

input[type=button]:hover {
    background-color: #f1f1f1;
    color: #2ec3ef;
}

.button-profile {
    color: #c4c4c4;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    border-left: 1px solid #c4c4c4;
    padding: 0.5em;
}

.button-profile:hover {
    background-color: #c4c4c4;
    color: white;
    text-decoration: none;
}

.button {
    background-color: #c4c4c4;
    color: white;
    padding: 0.2em 1em;
    border: 0.063em solid #ccc;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 0.75em;
    text-decoration: none;
    margin-left: 1%;
    margin-top: 1em;
}

.button:hover {
    background-color: #f1f1f1;
    color: #2ec3ef;
    text-decoration: none;
}

.form {
    border-radius: 0.313em;
    padding: 0.75em;
}

h1 {
    text-align: left;
    color: #2ec3ef;
    font-size: 1.5em;
    padding: 0.75em;
}

h2 {
    text-align: center;
    color: #2ec3ef;
    font-size: 1.5em;
    padding: 2%;
}

.img-header {
    width: 50%;
    height: auto;
}

.user {
    background-color: #c4c4c4;
    color: white;
    padding: 1em 2em;
    border: 0.75em solid rgb(255, 255, 255);
    border-radius: 1.5em;
    cursor: pointer;
    font-size: 0.75em;
    text-decoration: none;
    box-sizing: border-box;
}

.user:hover {
    background-color: #f1f1f1;
    color: #2ec3ef;
    text-decoration: none;
}

.message {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding: 0.75em;
    font-size: 1.25em;
    color: black;
}

.message-name {
    font-size: 0.85rem;
    color: #2ec3ef;
    margin-top: 0.4em;
}

.subscribed {
    background-color: #2ec3ef;
    color: white;
    padding: 1em 2em;
    border: 0.75em solid rgb(255, 255, 255);
    border-radius: 1.5em;
    cursor: pointer;
    font-size: 0.75em;
    text-decoration: none;
    box-sizing: border-box;
}

.button-back {
    height: 2.5em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    Border-radius: 6em;
}

.button-back:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 6em;
    bottom: 1.2em;
    right: 1em;
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}